# Rename .env_example to .env to use
DISCORD_BOT_WIZCRAFTBOT_V1="DISCORD_BOT_TOKEN_GOES_HERE"
CLIENT_ID_WIZCRAFTBOT_V1="CLIENT_ID_GOES_HERE"
GUILD_ID_WIZCRAFTBOT_V1="GUILD_ID_GOES_HERE"
US_GOV_API_KEY="US_GOV_API_KEY_GOES_HERE"
DISCORD_DEV_USER_ID="DISCORD_DEV_USER_ID_GOES_HERE"

# Environment variables declared in this file are automatically made available to Prisma.
DATABASE_URL="file:./dev.db"
